nav a {
    color: red;
    text-decoration: none;
  }
  
  header > h1 {
    font-family: 'Courier New', Courier, monospace;
  }
  
  h3 + h5 {
    color: blue;
  }
  h1 ~ h2 {
    font-style: italic;
  }
    
  form input{
    background-color: lightblue;
  }
  form > h3{
    background-color: black;
  }

  img {
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 100px;
  }